@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Montserrat&family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato',sans-serif;
    scroll-behavior: smooth;
}


.navbar{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: rgba(0,0,0,0.6);
    

}
.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover{
    width: 200px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: #1DA1F2;
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: #E1306C;
  }
  
  
  
  .wrapper .button:nth-child(4):hover .icon{
    background: #ff0000;
  }
  .wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span{
    color: #4267B2;
  }
  .wrapper .button:nth-child(2) span{
    color: #1DA1F2;
  }
  .wrapper .button:nth-child(3) span{
    color: #E1306C;
  }
  .wrapper .button:nth-child(4) span{
    color: #ff0000;
  }
  .card-background{
    background-color:rgb(253, 251, 246);
  }
.nav-link{
    color: black;
    font-size: 1 rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;

}
.imagesize {
height: 200px;
}
.icon{
    text-decoration: none;
    color: dimgray;
    font-size: 30px;

}
.nav-link:hover{
    color: black;
    
}
.navbar-brand{
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.main{
    background: url(./img/final.jpg)no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100vh;

    
}


.main h3{
    font-size: 4.4rem;
    font-weight: 700;
    color: white;
}

.main h6{
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 3px solid rgb(233, 20, 109);
    width: 40%;
}

.main .bt1{
    height: 55px;
    width: 138px;
    background-color: rgb(63, 62, 62);
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;

}
.main .bt1:hover{
    background-color: rgb(202, 18, 95);
    transition: 0.5s;

}
.main .bt2{
    height: 55px;
    width: 138px;
    background-color:transparent;
    color: rgb(255, 253, 254);
    outline: none;
    border: 1px solid rgb(85, 82, 83);
    font-weight: bold;
    border-radius: 5px;

}
.main .bt2:hover{
    background-color: rgb(46, 31, 37);
    transition: 0.5s;
    color: white;

}

.about img{
    box-shadow: 7px 6px 30px 0px rgba(0,0,0,0.22);
-webkit-box-shadow: 7px 6px 30px 0px rgba(0,0,0,0.22);
-moz-box-shadow: 7px 6px 30px 0px rgba(0,0,0,0.22);
}

h1{
    font-size: 3rem;
    font-weight: 900;
}
.progress{
    background-color: rgb(223, 219, 219);
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;
}

.pro-value1{
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 40px;
    width: 0;
}

.progress p{
color: white;
padding: 12px;
}


.pro-value2{
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 40px;
    width: 0;
}

.pro-value3{
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 40px;
    width: 0;
}

.pro-value4{
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 40px;
    width: 0;
}

.pro-value5{
    animation: load5 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 40px;
    width: 0;
}

.pro-value6{
    animation: load6 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 40px;
    width: 0;
}

.pro-value7{
    animation: load7 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 40px;
    width: 0;
}

@keyframes load1 {
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
    
}

@keyframes load2 {
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
    
}
@keyframes load3 {
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
    
}
@keyframes load4 {
    0%{
        width: 0;
    }
    100%{
        width: 72%;
    }
    
}
@keyframes load5 {
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
    
}
@keyframes load6 {
    0%{
        width: 0;
    }
    100%{
        width: 73%;
    }
    
}
@keyframes load7 {
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
    
}

.btn1{
    height: 40px;
    width: 145px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
}

.btn1:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: 0.5s;
}

.btn2{
    height: 40px;
    width: 145px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    border-radius: 4px;
}
.btn2:hover{
    background-color: black;
    color: white;
    border: none;
    transition: 0.5s;
}

.card{
    border: none;
    outline: none;
    box-shadow: 7px 6px 30px 0px rgba(0,0,0,0.22);
-webkit-box-shadow: 7px 6px 30px 0px rgba(0,0,0,0.22);
-moz-box-shadow: 7px 6px 30px 0px rgba(0,0,0,0.22);
}

.card p{
    color: gray;
}

.circle{
    height: 70px;
    width:70px;
    background-color:lightgray;
    color: black;
    padding: 12px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}

.card:hover .circle{
    background-color: black;
    color: white;
    transition: 0.5s;
}

.control ul li{
    list-style: none;
    background-color: black;
    padding: 5px 15px;
    color: white;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 2px;
}

.item{
    position: relative
}
.item:hover{
    box-shadow: 7px 6px 30px 0px rgba(0,0,0,0.22);
-webkit-box-shadow: 7px 6px 30px 0px rgba(0,0,0,0.22);
-moz-box-shadow: 7px 6px 30px 0px rgba(0,0,0,0.22);
transition: 0.5s;
}
.item span{
    position: absolute;
    top: 40%;
    left:45%;
    font-size: 40px;
    color: black;
    cursor: pointer;
    opacity: 0;
}

.item:hover span{
    opacity: 1;
    transition: 0.5s;
}

.item::before{
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(238, 235, 230, 0.644);
    opacity: 0;
    position: absolute;
}

.item:hover::before{
    opacity: 1;
    transition: 0.3s;
}

.circle:hover{
    background-color: black;
    transition: 0.4s;
    color: white;
}

.contact .btn3{
    background-color: black;
    color: white;
    outline: none;
    border: none;
    height: 40px;
    width: 140px;
    border-radius: 4px;
}

.btn3:hover{
    background: black;
    transition: 0.4s;
    border: 1px solid black;
}

.single-area{
    box-shadow: 10px 20px 40px whitesmoke;
    border-radius: 5px;
    height: 0%;
}